.button {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
}

.primary {
  background-color: blue;
  color: white;
}

.default {
  border: 1px solid #ddd;
  color: black;
}

.dashed {
  border: 1px dashed black;
}

.text {
  border: 0px;
}

.link {
  text-decoration: underline;
  border: 0px;
  color: blue;
}
